<div class="wrapper">
  <ng-container *ngIf="(page === pages[0] && !message)">
    <ng-container *ngTemplateOutlet="firstMessage"></ng-container>
  </ng-container>
  <ng-container *ngIf="(page === pages[1] && !message)">
    <ng-container *ngTemplateOutlet="secondMessage"></ng-container>
  </ng-container>
  <ng-container *ngIf="(page === pages[2] && !message)">
    <ng-container *ngTemplateOutlet="thirdMessage"></ng-container>
  </ng-container>
  <img class="image"
       src="../../assets/images/{{images.get(race + type)}}"
       alt="character"
       [style.background]="charBackground"
       [ngStyle]="race === 'Human' ? {'margin-left': '-5px'} : {'margin-left': '-20px'}">
  <div *ngIf="page !== pages[2]; else colorPanel"
       class="choice-panel"
       [ngStyle]="theme === 'Day' ? {'background-color': dayBackground} : {'background-color': nightBackground}">
    <div class="paragraph-container">
      <p
        [ngStyle]="theme === 'Day' ? {'color': dayFont} : {'color': nightFont}">
        Chose a <strong>{{page}}</strong> from the options:
      </p>
    </div>
    <div class="character-menu">
      <div *ngFor="let item of choices" class="item-wrapper">
        <input type="radio"
               [ngClass]="theme === 'Day' ? 'radio-day' : 'radio-night'"
               [disabled]="!message"
               [checked]="charData === item"
               [name]="item"
               [id]="item"
               (click)="onRadio(item)">
        <label [for]="item"
               [ngStyle]="theme === 'Day' ? {'color': dayFont} : {'color': nightFont}">
          {{item}}
        </label>
      </div>
      <div *ngIf="page === pages[0]; else navButtons" class="next-btn-wrapper">
        <button [disabled]="!message" (click)="onStep(true)">
          <p>Next</p>
          <div class="arrow right"></div>
        </button>
      </div>
    </div>
  </div>
</div>


<ng-template #colorPanel>
  <div class="color-panel"
       [ngStyle]="theme === 'Day' ? {'background-color': dayBackground} : {'background-color': nightBackground}">
    <p class="theme-p"
       [ngStyle]="theme === 'Day' ? {'color': dayFont} : {'color': nightFont}">
      Theme:
    </p>
    <div class="themes">
      <div class="theme-day" *ngFor="let item of themes">
        <input type="radio"
               [ngClass]="theme === 'Day' ? 'radio-day' : 'radio-night'"
               [name]="item"
               [id]="item"
               [disabled]="!message"
               [checked]="item === theme"
               (click)="onTheme(item)">
        <label [for]="item"
               [ngStyle]="theme === 'Day' ? {'color': dayFont} : {'color': nightFont}">
          {{item}}
        </label>
      </div>
    </div>
    <div class="color-menu">
      <div class="background">
        <div class="save-p">
          <p [ngStyle]="theme === 'Day' ? {'color': dayFont} : {'color': nightFont}">Background:</p>
          <div class="save-btn-wrapper">
            <button [disabled]="!message" (click)="onStep(true)"></button>
          </div>
        </div>
        <div class="color-picker"
               [cpWidth]="'191px'"
               [cpHeight]="'257px'"
               [cpDisableInput]="true"
               [cpToggle] = "true"
               [cpAlphaChannel]="'disabled'"
               [cpDialogDisplay]="'inline'"
               [cpCloseClickOutside]="false"
               [(colorPicker)]="charBackground">
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #firstMessage>
  <div class="message">
    <p class="top-p">The first:</p>
    <p class="bold-p">Race</p>
    <p class="bottom-p">Everyone is crazy about it now...</p>
    <button (click)="onFirstMessage()">Got it</button>
  </div>
</ng-template>

<ng-template #secondMessage>
  <div class="message">
    <p class="top-p">The second:</p>
    <p class="bold-p">Class</p>
    <p class="bottom-p">Second but not least...</p>
    <button (click)="onSecondMessage()">Got it</button>
  </div>
</ng-template>

<ng-template #thirdMessage>
  <div class="message">
    <p class="top-p">Okay, glad we both chose a {{type.toLowerCase()}} {{race.toLowerCase()}}:3</p>
    <p class="third-bottom-p">Left a little <br> just choose <strong>settings</strong></p>
    <button  class="third-msg-btn" (click)="onThirdMessage()">Got it</button>
  </div>
</ng-template>

<ng-template #navButtons>
  <div class="next-back-btn-wrapper">
    <button [disabled]="!message" (click)="onStep(false)">
      <div class="arrow left"></div>
      <p>Back</p>
    </button>
    <button [disabled]="!message"  (click)="onStep(true)">
      <p>Next</p>
      <div class="arrow right"></div>
    </button>
  </div>
</ng-template>

