@import 'fonts.scss';
@import 'images.scss';
@import 'icons.scss';
.wrapper{
  background-color: #FFFFFF;
  overflow: hidden;
  p{
    font-family: Roboto-Light, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #716868;
  }
  .image{
    width: 500px;
    height: 500px;
    margin-top: -27px;
    background-color: #FFFFFF;
  }
  .message{
    position: absolute;
    width: 414px;
    height: 177px;
    left: 0;
    top: 0;
    background: #FFF9F9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    font-weight: 300;
    p{
      margin: 0 0 13px 22px;
    }
    .bold-p{
      font-weight: bold;
    }
    .top-p{
      margin-top: 11px;
    }
    .bottom-p{
      margin-bottom: 9px;
    }
    button{
      width: 90px;
      height: 36px;
      background: #93C2ED;
      border: 0 solid transparent;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      color: #FFFFFF;
      margin: 0 14px 14px 310px;
    }
  }
  .choice-panel{
    width: 414px;
    height: 263px;
    background-color: #FFF9F9;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.25);
    .paragraph-container{
      padding: 22px 55px 22px 22px;
      p{
        font-weight: 300;
        margin: 0;
        padding: 0;
        strong{
          font-weight: 700;
        }
      }
    }
    .character-menu{
      .item-wrapper{
        padding: 0 0 19px 24px;
        label{
          font-family: Roboto-Light, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 28px;
          color: #716868;
          margin-left: 5px;
        }
      }
      .next-btn-wrapper{
        padding: 0 14px 12px 310px;
      }
      .next-back-btn-wrapper{
        display: flex;
        padding: 0 14px 12px 14px;
        justify-content: space-between;
      }
      .next-btn{
        width: 90px;
        height: 36px;
        background: #93C2ED;
        border: 0 solid transparent;
        padding: 4px 5px 4px 5px;
        p{
          display: inline;
          margin: 0 6px 0 6px;
          color: #FFFFFF;
        }
        .arrow{
          display: inline-block;
          width: 16px;
          height: 16px;
        }
        .right{
          background-image: $arrow-right;
        }
        .left{
          background-image: $arrow-left;
        }
      }
    }
  }
}
