@import "fonts.scss";
.wrapper{
  background-color: #FFFFFF;
  hr{
    margin: 0;
    width: 275px;
    height: 0;
    border: 1px solid #93C2ED;
  }
  p{
    color: #716868;
    font-family: Roboto-Light, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    padding: 0;
    margin: 0;
  }
  .logo{
    padding: 6px 41px 0 41px;
    h1 {
      width: 332px;
      height: 89px;
      color: #93C2ED;
      font-family: WaitingfortheSunrise-Regular, sans-serif;
      font-size: 80px;
      font-weight: 300;
      white-space: nowrap;
      padding: 0;
      font-style: normal;
      line-height: 132px;
      margin: 0;
    }
  }
  .slogan{
    padding: 32px 44px 0 167px;
    h2{
      width: 203px;
      height: 31px;
      font-family: Volkorn-Italic, sans-serif;
      font-weight: normal;
      font-size: 28px;
      color: #93C2ED;
      margin: 0;
    }
  }
  .first-hr-wrapper{
    padding: 55px 69px 0 70px;
  }
  .first-paragraph{
    padding: 3px 44px 0 37px;
    p{
      display: flex;
      flex-direction: column;
      justify-content: end;
      width: 333px;
      height: 116px;
    }
  }
  .second-hr-wrapper{
    padding: 15px 69px 0 70px;
    .hr-rotated{
      display: inline-block;
      transform: rotate(-4deg);
    }
  }
  .second-paragraph{
    padding: 27px 47px 0 43px;
    p{
      width: 324px;
      height: 84px;
    }
  }
  .third-hr-wrapper{
    padding: 25px 69px 0 70px;
  }
  .start-btn-wrapper{
    padding: 58px 96px 0 88px;
    .start-btn{
      width: 230px;
      height: 75px;
      background-color: #93C2ED;
      padding: 16px 38px 17px 39px;
      border: 0 solid transparent;
      p{
        font-weight: normal;
        font-size: 36px;
        line-height: 42px;
        color: #FFFFFF;
        white-space: nowrap;
      }
    }
  }
}
