@import "fonts.scss";

.wrapper {
  .slogan {
    margin: 32px 44px 0 167px;

    h2 {
      width: 203px;
      height: 31px;
      font-family: Volkorn-Italic, sans-serif;
      font-weight: normal;
      font-size: 28px;
      color: #93C2ED;
      margin: 0;
    }
  }

  .first-hr-wrapper {
    margin: 55px 69px 0 70px;
  }

  .first-paragraph {
    margin: 3px 44px 0 37px;

    p {
      display: flex;
      flex-direction: column;
      justify-content: end;
      width: 333px;
      height: 116px;
    }
  }

  .second-hr-wrapper {
    margin: 15px 69px 0 70px;

    .hr-rotated {
      display: inline-block;
      transform: rotate(-4deg);
    }
  }

  .second-paragraph {
    margin: 27px 47px 0 43px;

    p {
      width: 324px;
      height: 84px;
    }
  }

  .third-hr-wrapper {
    margin: 25px 69px 0 70px;
  }

  .start-btn-wrapper {
    margin: 58px 96px 0 88px;

    .start-btn {
      width: 230px;
      height: 75px;
      background-color: #93C2ED;
      padding: 16px 38px 17px 39px;
      border: 0 solid transparent;

      p {
        font-weight: normal;
        font-size: 36px;
        line-height: 42px;
        color: #FFFFFF;
        white-space: nowrap;
      }
    }
  }
}
