<div class="wrapper">
  <div class="logo">
    <h1>COOL LOGO</h1>
  </div>
  <div class="slogan">
    <h2>"not trivial slogan"</h2>
  </div>
  <div class="first-hr-wrapper">
    <hr>
  </div>
  <div class="first-paragraph">
    <p>Today I will teach you how to create a character in computer games</p>
  </div>
  <div class="second-hr-wrapper">
    <hr class="hr-rotated">
  </div>
  <div class="second-paragraph">
    <p>I'm sure you already know how but can you create a character creator?</p>
  </div>
  <div class="third-hr-wrapper">
    <hr>
  </div>
  <div class="start-btn-wrapper">
    <button class="start-btn" (click)="onStart()"><p>Lets start</p></button>
  </div>
</div>


