$arrow-right: url('../icons/arrow_right.svg');
$arrow-left: url('../icons/arrow_left.svg');
$star: url('../icons/star.png');
$eye-dropper: url('../icons/eye-dropper.png');
$close: url('../icons/exit.png');
