$img-human: url('../images/1563214703920.png');
$img-human-warrior: url('../images/1563214718531.png');
$img-human-archer: url('../images/1563214729859.png');
$img-human-wizard: url('../images/1563214741495.png');
$img-elf: url('../images/1563214750637.png');
$img-elf-archer: url('../images/1563214759160.png');
$img-elf-wizard: url('../images/1563214768040.png');
$img-elf-warrior: url('../images/1563214777507.png');
$img-dwarf: url('../images/1563214787649.png');
$img-dwarf-warrior: url('../images/1563214797711.png');
$img-dwarf-archer: url('../images/1563214810300.png');
$img-dwarf-wizard: url('../images/1563214820031.png');
