$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

/*---colors---*/
$light_theme_panel_background: #FFF9F9;
$light_theme_char_background: #FFFFFF;
$light_theme_font: #716868;

$dark_theme_panel_background: #0C0C08;
$dark_theme_font: #FFFFFF;

$light_theme_btn_background: #93C2ED;
$dark_theme_btn_background: #5B6D7E;

$light_theme_radio_background: #716868;
$light_theme_radio_border: #716868;
$light_theme_radio_border_checked: #FFF9F9;

$dark_theme_radio_background: #FFFFFF;
$dark_theme_radio_border: #FFFFFF;
$dark_theme_radio_border_checked: #0C0C08;



